.navbar-container {
    height: 100px;
    width: 95%;
    background-color: rgba(90, 190, 255, 0.75);
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    border-radius: 20px;
    margin-left: auto;
    margin-right: auto;
}

.navbar-brand {
    font-size: 32px;
    font-weight: bolder;
    color: rgb(255, 255, 255);
    cursor: pointer;
    display: flex;
    margin-left: 15%;
    margin-right: auto;
}

.navbar-toggler {
    display: flex;
    margin-right: 15%;
    margin-left: auto;
}

.navbar-nav {
    font-size: 20px;
    font-weight: bolder;
    color: rgb(255, 255, 255);
    cursor: pointer;
    display: flex;
    margin-right: 15%;
    margin-left: auto;
}

.nav-link:hover {
    border-radius: 10px !important;
    background-color: #0b5ed7;
    color: white;
}

.navbar-left {
    flex: 4;
    height: 50px;
    color:rgb(255, 255, 255);
    background-color: rgb(215, 215, 215);
    margin: 10%;
    max-width: 50%;
    border-radius: 10px;
    display: flex;
    align-items: center;
}

.d-flex {
    margin-left: auto;
    margin-right: auto;
}

.form-control {
    font-family: 'Noto Sans', sans-serif;
    font-weight: bolder;
    max-width: 50%;
    width: 40%;
    margin-left: 13%;
    margin-right: auto;
}

.btn {
    font-family: 'Noto Sans', sans-serif;
    font-weight: bolder;
    max-width: 100%;
    width: 30%;
    margin-right: 13%;
    margin-left: auto;
}

.navbar-right {
    flex: 4;
    height: 50px;
    color:rgb(255, 255, 255);
    background-color: rgb(215, 215, 215);
    margin: 10%;
    max-width: 20%;
    border-radius: 20px;
    display: flex;
    align-items: center;
}
